#map {
  height: 200px;
  border-radius: 10px;
}
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

.solicitudApoyo {
  background-color: #3fcfb7;
  border-radius: 30px;
}
.form-label {
  color: white;
}
.text {
  background: white;
  border-radius: 12px;
  margin-right: 20px;
}
.textArea {
  background: white;
  border-radius: 15px;
  margin-right: 20px;
}
.mb-3 {
  margin-top: 10px;
}
.col-6 {
  padding: 15px;
}
.btn-Enviar {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: teal;
  color: white;
  border: solid teal;
}
.boton-end {
  text-align: end;
}

